.intro {
    background-image: url("../assets/about_us_images/aboutUsBg1.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.mission {
    background-color: #F0F8E7;
}

.pupImage {
    background-color: #EBEDFB;
}

.pupImage img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}