/* General styling persistent accross app pages */

* {
  font-family: 'Futura Std', sans-serif;
  color: black !important;
}

Link {
  text-decoration: none !important; 
}

a {
  text-decoration: none !important;
}

/* Header styling */
#nav {
  display: flex;
  justify-content: space-around;
  height: 4em;
  padding: 0em 9em 0em 9em;
  border-bottom: 2px solid rgba(211, 211, 211, 0.373);
}

#nav > * {
  margin-top: 1.5em;
}

#home-button {
  border-radius: 50%;
  height: 93px;
  width: 110px;
  margin: 0em;
  display: flex;
  justify-content: center;
  /* border: 2px solid rgba(211, 211, 211, 0.373); */
}

#nav img {
  width: 6em;
  padding: 1em;
}

/* Footer styling */

#footer {
  /* position: sticky; */
  left: 0;
  bottom: 0;
}

#footer img {
  width: 100%;
}