.dono-confirm-bg {
    background-image: url('../assets/donation_images/dono_confirm_bg.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 40vh;
}

.goosepup-dono {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}