.p-home {
  font-size: 1.1em !important;
}

.welcome-section {
  background-color: #EBEDFB;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.welcome-content {
  width: 50%;
  padding: 8em;
}

.welcome-content p {
  line-height: 2em;
}

.welcome-content h1 {
  margin-bottom: 1em;
  font-size: 5em;
}

.main-img {
  margin-right: 10em;
  margin-top: 4em;

}

.img-links {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.link-div {
  display: flex;
  width: 100%;
  justify-content: right;
  flex-direction: row;
  padding: 4em;
}

.disclaimer-home {
  background-color: #C4C9DC;
  height: 7em;
  padding-right: 5.5em;
  padding-left: 5.5em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.disclaimer-home p {
  margin-top: 2em;
}

.pup-story {
  background-color: #F6F8F9;
  height: 14em;
  display: flex;
  align-items: left;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 6em;
}

.home-button {
  background-color: #EAC3B5;
  color: black;
  border: none;
  border-radius: 1em;
  width: 11em;
  height: 3em;
  font-size: 1.4em;
  margin-top: 1.2em;
}

.home-rec-button {
  background-color: #EAC3B5;
  color: black;
  border: none;
  border-radius: 1em;
  width: 12em;
  height: 3.2em;
  text-transform: uppercase;
  margin-top: 2em;
}

.help {
  color: #317773 !important;
}

.overview-item {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0.5em;
}

.sub-item {
  display: flex;
  flex-direction: column;
}

.overview-container {
  width: 80%;
}

#overview-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2.5em;
  padding-bottom: 6em;
}

.view-img-1 {
  margin-right: 6em;
}

.view-img-2 {
  margin-left: 6em;
}

.resources {
  background-color: #C4C9DC;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.resource-contents {
  padding: 6em;
}

.over-head {
  margin-top: 0.8em;
}

.community {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3em;
  margin-bottom: 3em;
}

.community-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 3em;
  width: 100%;
  /*align-items: center;*/
}

.community-sub-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.community-con {
  width: 70%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.comm-head {
  display: flex;
  justify-content: left;
  flex-direction: row;
  width: 70%;
}

.community-sub-div-centered1 {
  background-image: url('../assets/home_page_images/text_bubble_1.png');
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.community-sub-div-centered2 {
  background-image: url('../assets/home_page_images/text_bubble_2.png');
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
}

.community-sub-div-centered3 {
  background-image: url('../assets/home_page_images/text_bubble_3.png');
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
}

.community-sub-div-centered1 div {
  width: 60%;
  padding-bottom: 7em;
  padding-left: 3.5em;
}

.chat-p {
  font-size: 1.1em;
  margin-top: 0em;
}

.resource-img {
  height: 100%;
}

.img-div {
  height: 100%;
}

.community-sub-div-centered2 div {
  width: 50%;
  padding-top: 2em;
  padding-bottom: 3em;
  padding-left: 5.5em;
  padding-top: 3em;
}

.community-sub-div-centered3 div {
  width: 70%;
  padding-bottom: 1em;
  padding-left: 6em;
  padding-bottom: 6em;
  padding-top: 2em;
}

.instagram-img {
  margin-left: 2em;
}

.facebook-img, .instagram-img, .twitter-img {
  height: 2.8em;
}

.facebook-img {
  margin-left: 2em;
}
