.top {
    background-color: #ebedfb;
    background-size: 100% 100%;
    width: 1440px;
    height: 515px;
    margin-bottom: 3em;
}

.container-top{
    padding: 8em;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.desc{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.thumbnail{
    height: 250px;
    width: 250px;
    left: 100px;
    top: 100px;

}

.details {
    background-color: white;
    margin-left: 6em;
}

.sub-item {
    margin-top: 2em;
    margin-bottom: 6em;
}

h2 {
    font-size: 300%;
}

h3 {
    font-size: 250%;    
}

p {
    margin-top: 3em;
    font-size: 100%;  
}


/* .pupImage img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
} */