.top {
    background-color: #ebedfb;
    background-size: 100% 100%;
    width: 1440px;
    height: 515px;
}

.container-top{
    width: 269px;
    height: 53px;
    position: relative;
    left: 30px;
    margin-bottom: 2rem;
}

.details {
    background-color: white;
}

h2 {
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 300%;
}

h3 {
    color: black;
    font-family: verdana;
    font-size: 250%;    
}

p {
    color: black;
    font-family: verdana;
    font-size: 100%;  
}


/* .pupImage img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
} */