.textBox {
    position: relative;
    width: 70%;;
    height: auto;
    padding: 3em;
    

}

.title-container {
    position: relative;
}

.left-main {
    display: flex;
    justify-content: center;
    width: 50%;
}

.title {
    position: absolute;
    font-size: 44px;
    line-height: 53px;
    left: 15%;
    top: 25%;
    padding: 3em;
}



.disclaimer {
    background-color: #C4C9DC;
    text-align: center;
    margin-top: 25px;
    /* padding-inline: 50px; */
    padding: 5em;
    /* padding-top: 20px; */
    position: absolute;
    top: 46.41%;
    bottom: 42.77%;
}


.resources-links {
    background-color: #F0F8E7;
    position: absolute;
    width: 50%;
    height: 100%;
    right: 0%;
    top: 4em;
}

.button-m {
    width: 546px;
    height: 113.15px;
    text-align: left;
    padding-left: 50px;
    margin: 10px;
    margin-left: 50px;
    

    background: #FFFFFF;
    border-radius: 17.6801px;
    border-color: #FFFFFF;

    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
}

.resources-links:first-child {
    margin-top: 100px;
}

.resources-links:second-child {
    margin-top: 40px;
}


