.title-container {
    position: relative;
    padding: 5em;
}

.left-main {
    display: flex;
    justify-content: center;
    width: 50%;
}

.textBox {
    position: relative;
    width: 100%;
    height: auto;
    margin: 3em;
    align-self: center;
    justify-self: center;
    /* border: 2px solid black; */
}

.disclaimer {
    background-color: #C4C9DC;
    text-align: center;
    margin-top: 50px;
    padding: 4em;
    position: absolute;
    top: 46.41%;
    bottom: 42.77%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.p {
    font-size: 70%;
}

.resources-links {
    background-color: #F0F8E7;
    position: absolute;
    width: 50%;
    height: 100%;
    right: 0%;
    top: 4em;
}

.button-m {
    width: 546px;
    height: 113.15px;
    text-align: left;
    padding-left: 50px;
    margin: 10px;
    margin-left: 50px;
    

    background: #FFFFFF;
    border-radius: 17.6801px;
    border-color: #FFFFFF;

    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
}

.resources-links:first-child {
    margin-top: 100px;
}

.resources-links:second-child {
    margin-top: 40px;
}

/* hover underline not working yet, will try to fix it */

/* underline BEFORE hover */
.button-m ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #B6C8A2;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

/* underline AFTER hover */
.button-m ul li:hover::after{
    width: 100%;
}


