.grid-container-element { 
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr; 
    grid-gap: 20px; 
    width: 33%; 
} 
.grid-child-element { 
    margin: 10px; 
}
.symbolImg{
    display: inline;
    width: 347.5px;
}
.top-color{
    background-color: #ebedfb;
}