#headpic{
    width: 50px;
    margin: 10px;
    display: inline;
  margin-left: auto;
  margin-right: auto;
}
.gap{
    margin: 10%;
    color: black;
    
}
.gap:link{
    text-decoration: none;
}
.gap:visited{
    text-decoration: none;
}
.gap:hover{
    text-decoration: none;
}
.gap:active{
    text-decoration: none;
}
.grid-container-element { 
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-gap: 20px; 
    width: 33%; 
} 
.grid-child-element { 
    margin: 10px; 
}
.symbolImg{
    display: inline;
}
.top-color{
    background-color: #ebedfb;
}