body {
  margin: 0;
  font-family: 'Futura Std', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* a.back,
a.back:hover,
a.back:visited,
a.back:active  */

a.back {
  position: absolute;
  margin: 2% 0% 0% 8%;
  text-decoration: none;
  color: inherit;
  font-size: 18px;
}

