.mental-health-resource-top-container {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.mental-health-resource-card-links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.mental-health-resource-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5em 0;
    padding-top: 8em;
    padding-bottom: 8em;
    background-color: #EBEDFB;
    ;
}

.card-title {
    font-size: 2.25em;
    padding-left: 7em;
    padding-right: 4em;
}

.card-description {
    padding-left: 7em;
    padding-right: 5em;
}

.card-box {
    padding: 12px;
    width: 100%;
    background: #C4C9DC;
    display: flex;
    flex: row;
    align-items: flex-end;

}

.mental-health-resource-bottom-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5em;
    padding-top: 5em;
    padding-left: 9em;
    padding-right: 9em;
    padding-bottom: 6em;
}

.resource-link-card {
    display: flex;
    flex-direction: column;
    width: 310px;
}

.resource-link-card-thumbnail {
    height: 175px;
    width: 100%;
    object-fit: fill;
    border-top-right-radius: 2em;
    border-top-left-radius: 2em;
}

.resource-link-card-caption {
    width: 100%;
    background-color: #EBEDFB;
    padding: 30px;
    border-bottom-left-radius: 2em;
    border-bottom-right-radius: 2em;
}

.resource-link-card-caption-title {
    font-weight: 500;
    font-size: 1.5em;
}

.resource-link-card-caption-tags {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
}

.resource-link-card-caption-tag {
    padding: 1px 8px;
    background-color: white;
    border-radius: 5px;
    font-size: 12px;
    
}

.resource-link-card-caption-tag:first-child {
    margin-top: 15px;
}
