.team-title {
    text-align: center;
    vertical-align: middle;
}

.border {
    height: 8em;
    border-right: .01em solid black;
}

.team-header {
    font-size: 1.5em;
}

.dropdown-icon {
    font-size: 2em;
    text-align: end;
}

.img-group {
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
}

.team-img > img {
    width: 12em;
    height: 12em;
    border-radius: 5%;
    margin-right: 3em;
}

.img-group h3 {
    font-size: 1.5em;
    margin-bottom: 0;
}

.img-group p {
    width: 12em;
}