.dancing{
    width: 293px;
    display: block;
    position: relative;
    right: 0%;
    top: 8em;
    z-index: 1;
}
.singing{
    width: 270px;
    margin-top: 5em;

}
.pop_eps{
display: grid;
}
.text{
    text-align: justify;
    max-width: 70%;
}
.head{
    position: relative;
    /* left: 10%; */
    display: flex;
    flex: none;
}
.topsec{
    position: relative;
    display: inline;
    left: -2.5%;
}
.mid{
    position: relative;
    padding-left: 10%;
    top: 6em;
}
.recent {
    background-image: url("../assets/podcast_images/Vectorblock.png ");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 70vh;
    position: relative;
    /* z-index: -1; */

}
.pic{
    position: relative;
    display: inline;
}
.name{
    position: relative;
    display: block;
    padding-left: 40%;
    top: -18em;
    text-align: justify;
    max-width: 90%;
}
.podcastmain{
    width: 60%;
    height: 10%;
    border-radius: 10px;
    box-shadow: none;
    border: none;
}
.bottom{
    position: relative;
    background-color: #C4C9DC;
    width: 80%;
    height: 30em;
    left: 10%;
    top: 4em;
    margin-bottom: 10em;
}
.popular{
    background-color: #F0F8E7;
    position: relative;
}
.text2{
    position: relative;
    padding: 0.5em 0.2em 0.5em 2em;
}
.bottom_border{
    background-color: white;
    position: relative;
    border-radius: 17px;
    height: 17em;
    margin: 3em 3em 3em 3em;
    display: flex;
    align-items: center;
    
}
.last{
    /* position: relative; */
    display: inline-block;
    /* left: 30%; */
    top: -100%;
    text-align: justify;
    max-width: fit-content;
    padding-bottom: 3em;
    
}
.rect{
    width: 250px;
    padding: 1em 1em 1em 1em;
    display: block;
}
.buttonpod{
    border: none;
    border-radius: 25px;
    width: 10em;
    height: 3em;
    background-color: #EAC3B5;
    color: white;
}