body {
    padding: 0px;
    border: 0px;
    margin: 0px;
  }

  img#headerBackgroundIMG_RM {
    position: absolute;
    z-index: -1;
    width: 100%;
  }
  
  div#headerContainer_RM {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-image: url(../assets/resourcesMenu/header_background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left -100px;

    width: 100%;
    padding: 0% 0% 10% 0%;
  }
  
  a.back,
  a.back:hover,
  a.back:visited,
  a.back:active {
    margin: 20% 0% 0% 15%;
    text-decoration: none;
    color: inherit;
    font-size: 20px;
  }
  
  
  h1#MHRheader {
    font-size: 380%;
  
    display: block;
    font-weight: 500;
    width: 65%;
    height: auto;
    margin: 0% 0% 0% 20%;
    padding-top: 5%;
  }
  
  p#headerDescription {
    display: block;
    font-weight: 400;
    font-size: 20px;
    height: auto;
    width: 105%;
    margin: 0% 0% 0% 20%;
    padding: 13% 0% 10% 0%;
  }
  
  img#headerIMG {
    display: block;
    height: auto;
    width: 35%;
    margin-top: 15%;
    margin-left: 34%;
  }
  
  section#MHR h2 {
    text-align: center;
    font-size: 26px;
    font-weight: 500;
    margin-top: 15%;
  }
  
  section#AR h2 {
    text-align: center;
    font-size: 26px;
    font-weight: 500;
  }
  
  section#OR h2 {
    text-align: center;
    font-size: 26px;
    font-weight: 500;
  }
  
  div.flexContainer {
    display: flex;
    width: 70%;
    height: auto;
    margin: auto;
    padding: 3% 0% 4% 0%;
  
    justify-content: center;
  }
  
  div.align {
    margin: 0% 4% 0% 4%;
  }
  
  div.cardContainer1 {
    margin: 0% 0% 12% 0%;
  }
  
  div.cardContainer3 {
    margin: 0% 0% 12% 0%;
  }
  
  div.cardContainer5 {
    margin: 0% 0% 12% 0%;
  }
  
  img.firstLayer {
    width: 200px;
    height: auto;
    position: absolute;
    z-index: 3;
  }
  
  img.secondLayer {
    height: 249px;
    width: 261px;
    position: absolute;
    z-index: 2;
  }
  
  img.thirdLayer {
    width: 256px;
    height: 244px;
    z-index: 1;
  }
  
  div.cardContainer {
    height: 100%;
    width: 261px;
    position: relative;
  }
  
  div.hoverContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 261px;
  }
  
  div.hoverContainerDown {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 261px;
  }
  
  div.hoverContainer > img.secondLayer {
    transition: transform 0.2s ease-in-out;
  }
  
  div.hoverContainer:hover > img.secondLayer {
    transform: translate3d(11px, 10px, 0px);
  }
  
  div.hoverContainer > img.firstLayer {
    transition: transform 0.2s ease-in-out;
  }
  
  div.hoverContainer:hover > img.firstLayer {
    transform: translate3d(11px, 10px, 0px);
  }
  
  div.hoverContainer > p.cardTitle {
    transition: transform 0.2s ease-in-out;
  }
  
  div.hoverContainer:hover > p.cardTitle {
    transform: translate3d(11px, 10px, 0px);
  }
  
  div.hoverContainerDown > img.secondLayer {
    transition: transform 0.2s ease-in-out;
  }
  
  div.hoverContainerDown:hover > img.secondLayer {
    transform: translate3d(11px, -10px, 0px);
  }
  
  div.hoverContainerDown > img.firstLayer {
    transition: transform 0.2s ease-in-out;
  }
  
  div.hoverContainerDown:hover > img.firstLayer {
    transform: translate3d(11px, -10px, 0px);
  }
  
  div.hoverContainerDown > p.cardTitleDown {
    transition: transform 0.2s ease-in-out;
  }
  
  div.hoverContainerDown:hover > p.cardTitleDown {
    transform: translate3d(11px, -10px, 0px);
  }
  
  div.thirdContainer {
    padding-left: 1px;
    padding-top: 1px;
  }
  
  img#RM_depression_1 {
    height: auto;
    width: 200px;
  }
  
  img#RM_therapy_1 {
    height: auto;
    width: 180px;
  }
  
  img#RM_anxiety_1 {
    height: auto;
    width: 200px;
  }
  
  img#RM_selfcare_1 {
    height: auto;
    width: 160px;
  }
  
  img#RM_suicide_1 {
    height: auto;
    width: 180px;
  }
  
  img#RM_loneliness_1 {
    height: auto;
    width: 200px;
  }
  
  img#RM_diversity_1 {
    height: auto;
    width: 200px;
  }
  
  img#RM_uwresources_1 {
    height: auto;
    width: 170px;
  }
  
  img#RM_thirdparty_1 {
    height: auto;
    width: 180px;
  }
  
  img#RM_workshops_1 {
    height: auto;
    width: 160px;
  }
  
  img#RM_presentations_1 {
    height: auto;
    width: 200px;
  }
  
  p.cardTitle {
    position: absolute;
    text-decoration: none;
    color: black;
    font-size: 25px;
    font-weight: 500;
    z-index: 4;
    padding-top: 210px;
  }
  
  p.cardTitleDown {
    position: absolute;
    text-decoration: none;
    color: black;
    font-size: 25px;
    font-weight: 500;
    z-index: 4;
    padding-bottom: 190px;
  }
  