.resources-wrapper {
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

.title-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-bottom: 8em;
}

.left-main {
    width: 50%;
    padding: 180px 0;
    display: flex;
    flex-direction: column;
    gap: 100px;
}

.textBox {
    position: relative;
    width: 70%;
    height: auto;
    align-self: center;
    justify-self: center;
}

.disclaimer {
    background-color: #C4C9DC;
    text-align: center;
    /* margin-top: 50px; */
    padding: 30px 60px;
    /* position: absolute; */
    /* top: 80%;
    bottom: 42.77%; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* font-size: 70%; */
}

.resources-links {
    width: 50%;
    background-color: #F0F8E7;
    display: flex;
    flex-direction: column;
    gap: 2em;
    justify-content: center;
    align-items: stretch;
    padding-left: 85px;
    padding-right: 100px;
}

.button-m {
    text-align: left;
    padding: 40px 36px;
    width: 100%;

    background: #FFFFFF;
    border-radius: 17.6801px;
    border-color: #FFFFFF;

    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;

    border: none;
}

.button-m:hover {
    text-decoration-color: #B6C8A2 !important;
    background-color: #F5F5F5;

}
.forward {
    position: relative;
    display: inline-block;
    float: right;
    margin-right: 10px;
}