.grid-container-element { 
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr; 
    grid-gap: 20px; 
    width: 100%; 
    height: 100%;
    top: 50px;
    padding-left: 5%;
    position: relative;
    justify-content: center;

} 
.grid-child-element { 
    max-width: 80%;
    max-height: 80%;
}
.symbolImg{
    display: inline;
    width: 400px;
    padding-bottom: 2em;
    position: relative;
    margin-left: 25%;
}
.top-color{
    background-color: #ebedfb;
    width: 100%;
    /* position: relative; */
    /* z-index: -1; */
    
}
.topsec{
    display: inline;
    position: relative;
    top: 50px;
    padding-left: 10em;
}
.title{
    position: relative;
    display: block;
    left: 10%;
    top: 30px;
}
.buttonvid{
    background-color: #EAC3B5;
    border-radius: 30px;
    border-color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: solid;
    display: inline-block;
    font-size: 100%;
    color: black;
}
.top-separate{
    display: flex;
    position: relative;
}
h1{
    font-size: 300%;
}
.back{
    margin-left: 5%;
    position: relative;
    font-size: 150%;
    top: 10px;
}
.botsec{
    position: relative;
    padding-left: 80px;
    top: 50px;
}
.bott{
    /* position: relative; */
    margin-bottom: 10em;
}