.grid-container-element { 
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr; 
    grid-gap: 20px; 
    width: 100%; 
    height: 100%;
    top: 50px;
    padding-left: 5%;
    padding-right: 5%;
    position: relative;
    justify-content: center;

} 
.grid-child-element { 
    max-width: 90%;
    max-height: 80%;
}

.title-vids {
    margin-bottom: 20px;
}

.desc-vids {
    margin-top: 35px;
}
.symbolImg{
    padding-right: 3em;
}
.top-color{
    background-color: #ebedfb;
    width: 100%;
}
.topsec{
    margin-right: auto;
    text-align: left; /* Center the text horizontally */
    padding-left: 10em;
}

/* .title{
    position: relative;
    display: block;
    left: 10%;
    top: 30px;
} */

.buttonvid{
    background-color: #EAC3B5;
    border-radius: 30px;
    border-color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: solid;
    display: inline-block;
    font-size: 100%;
    color: black;
}
.top-separate{
    display: flex; /* Use flexbox for layout */
    align-items: center; /* Align items vertically */
}

h1{
    font-size: 300%;
}

/* .back{
    position: relative;
    top: 40px;
    padding-top: calc(1em + 10px); 
    font-size: 20px;
} */

.botsec{
    position: relative;
    padding-left: 80px;
    top: 50px;
}
.bott{
    /* position: relative; */
    margin-bottom: 10em;
}